@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    accent-color: #1F9AFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --primary-color: #F96C39;
    --secondary-color: #3782FB;
    --accent1-color: #1F9AFF;
    --accent2-color: #82B12F;

    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --paragraph-font: Georgia, 'Times New Roman', Times, serif;

    --nav-background-color: #246246;
    --nav-link-color: #6F9283;
    --nav-hover-link-color:#CDC6A5;
    --nav-hover-background-color: #8D9F87;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 960px;
    padding: 20px;
    background-color: #F96C39;
}    

 h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--primary-color)
    }
    
    header {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    background-color: var(--accent1-color);
    }

    .header-img {
      max-width: 200px;
      max-height: 150px;
    }

    .options {
        display: flex;
        align-items: center;
    }

    .hero {
        border: solid 3px var(--accent2-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero p {
        text-align: left;
    }

    .has_pictures {
        display: grid;
    }

    .history-class {
        display: grid;
        grid-auto-flow: row;
    }
    
    p main{
    padding: 25px;
    }
    
    nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    }
    
    nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    }
    
    nav a:link, nav a:visited {
        color: var(--nav-link-color);
    }

    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color)
    }

    .has_pictures {
        display: grid;
        grid-template-columns: auto;
    }