* {
    accent-color: #1F9AFF;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #F96C39;
    --secondary-color: #3782FB;
    --accent-color: #1F9AFF;
    --additional-accent-color: #82B12F;

    --heading-font: lato, serif;
    --paragraph-font: lato, serif;

    --navigation-background-color: #8D9F87;
    --navigation-link-color: #6F9283;
    --navigation-hover-link-color:#CDC6A5;
    --navigation-hover-background-color: #696D7D;
    @import url("https://fonts.google.com/specimen/Lato");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    padding: 20px;
    background-color: #F96C39;
}    


h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #696D7D;
    }
    
    header {
    padding: 20px;
    background-color: #3782FB;
    }
    
    p main{
    padding: 25px;
    background-color: #82B12F;
    }
    
    nav {
    background-color: #82B12F;
    font-size: 1.2rem;
    display: flex;
    }
    
    nav a {
    display: block;
    color: #CDC6A5;
    text-decoration: none;
    padding: 1rem;
    }
    
    nav a:visited {
        color: #6F9283;
        background-color: #CDC6A5;

    }