* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: #2210a9;
    background: #bf7ed3;
}

header {
    margin: auto;
    width: 600px;
}

h1 {
    margin: auto;
    font-size: 1.3em;
    color: orchid;
    text-align: center;
}

form {
    width: 600px;
    margin: auto;
    padding: 0.5rem;
    border: 1px solid #9d81f1;
    border-radius: 0.5rem;
    background-color: rgb(196, 132, 217);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .2rem;
    margin: .5rem;
    border: 1px solid #9d91f1;
    padding: .1rem;
}

legend {
    padding: 0.2 rem;
    color: purple;
    font-size: 1.3rem;
}

label, input, button, select, textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    text-align: left;
    padding-left: 0rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.4rem;
}

input [type="checkbox"] {
    height: 23px;
    width: 23px;
    vertical-align: bottom;
}

button {
    font-size: 2.5rem;
    background-color: darkgreen;
    color: lightblue;
    border: 1px;
    border-radius: none;
    padding: auto;
}

button:hover {
    background-color: darkorchid;
    color: lightblue;
}

footer {
    background-color: rgb(200, 105, 235);
    text-align: center;
    border: 1px solid chartreuse;

}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 1.3rem;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}