h1, h2, h3, h4, h5, h6 {
    font-family: var(paragraph-font);
    color: var(primary-color);
    }
    
    header {
    padding: 20px;
    background-color: var(secondary-color);
    }
    
    p {
    padding: 25px;
    }
    
    nav {
    background-color: var(navigation-background-color);
    font-size: 1.2rem;
    display: flex;
    }
    
    nav a {
    display: block;
    color: var(nav-link-color);
    text-decoration: none;
    padding: 1rem;
    }
    