* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c4b6fb;
}

nav {
    background-color: #067615;
    padding: 10px;

}

p {
    border: 20px #ddd;
    background-color: #c4b6fb;
    color: #03440C;
  }

nav a {
    color: #03440C;
    display: block;
    padding: 20px;
}

h1 {
    color: #03440C;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid #F8F7FF;
    padding: 2px;
    box-shadow: 0 0 30px #5f52a8;
    background-color: #c0b9dd;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    text-align: center;
    margin: 2px;
    border: 75px;
    padding: 100px;
    background-color: #a593ef;
    color: #be98dd;
}

aside img {
    width: 250px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 10px;
    text-align: center;
    color: #03440C;
}

ul, li, li a{
   background-color: #bbb0e4;
}

aside h2 {
    top: 47px;
    left: 150px;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rbga( 0 0 0 .1);
    padding: 1rem;
    background-color: #067615;
    color: #03440C;
}