* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;

}

a {
    text-align: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    background-color: #c0b9dd;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    text-align: center;
    margin: 2px;
    border: 75px;
    padding: 100px;
    background-color: #c0b9dd;
    color: #ded9e2;
}

aside img {
    width: 250px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 10px;
    text-align: center;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rbga( 0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}