h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}

* {
    background-color: rgb(91, 227, 91);
    color: #06446b;
}

input {
    color: white;
}

button {
    background-color: rgb(237, 119, 237);
    color: darkblue;
}