.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid rbga( 0, 0, 0, .1);
    padding: 15px;
    background-color: #247;
    color: #fff;
}

.callout img {
	position: float;
    margin: ;
    border: ;
    padding: ;
    background-color: ;
    width: ;
    height: ;
}

blockquote {
	margin: ;
}

cite {
	display ;
    border-top ;
    padding-top ;
    text-align ;
    font-size ;
}