.callout {
	max-width: 100%;
    margin: max;
    padding: ;
    background-color: #247;
    text-color ;
}

.callout img {
	position: float;
    margin: ;
    border: ;
    padding: ;
    background-color: ;
    width: ;
    height: ;
}

blockquote {
	margin: ;
}

cite {
	display ;
    border-top ;
    padding-top ;
    text-align ;
    font-size ;
}